.rif-footer {
  background-color: #afafaf;
  margin-top: 50px;
  padding: 20px 75px 5px;
  font-size: 10px;

  .rif-footer-item {
    float: left;
    width: 128px;

    &.social {
      width: 165px;
      padding-top: 20px;
    }
  }

  h5 {
    font-size: 10px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}