<div class="rif-nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/rif-logo.jpg" />
        </a>
        <ul
          *ngFor="let menuItem of menuItems"
          class="nav navbar-nav">
          <li [ngClass]="{ 'active': menuItem.active, 'dropdown-toggle': menuItem.dropdown }">
            <a href="{{ menuItem.link }}">
              <span
                class="glyphicon"
                [ngClass]="'glyphicon-'+menuItem.icon"></span>{{ menuItem.name }}
              <span
                *ngIf="menuItem.dropdown"
                class="caret"></span>
            </a>
            <ul
              *ngFor="let subMenuItem of menuItem.dropdown"
              class="dropdown-menu">
              <a>{{ subMenuItem.name }}</a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>